
<div class="constrain">

  
  <div class="left-content">

    <div class="current-jobs">
        <h1 class="top" style="margin-bottom:2px;">Truck Driver Job Application</h1>
    </div>

    <div class="application-container">
      <div class="application-status clearfix">
        <div class="step">
          <p>1. Complete Application</p>
        </div>
        <div class="status">
          <p>Done!</p>
        </div>
      </div>
      <div class="text-content">
        <div class="paragraph">We match you directly to leading trucking companies hiring truck drivers in YOUR AREA<img src="//d2ju3eumzwbxuv.cloudfront.net/assets/icons/marker.png" alt="Marker" id="marker">, who are looking for drivers with YOUR criteria. You are only matched to companies you may qualify to drive for. Fill out the application, and you can then sit back and relax. <span class="big">Within 24 hours</span>, companies will begin calling you with job offers with better pay, benefits, and home time. Write down the <h2 class="big">job offers</h2>, and pick the one that best fits you and your family.  It’s as simple as that.</div>

        <p>Apply for a local, dedicated, regional, or OTR truck driver job. There is a company fit for you. Apply now and start driving!</p>

        <p><span class="big orange">On the go?</span> Give us a call and we will complete your application for you!</p>

        <p class="big blue">205-419-1640</p>

        <p class="disclaimer">*We do not store your information. Your information is only sent to companies that match your driving qualifications.</p>
      
      </div>
    </div>

  </div><!-- end left-content --> 

  <div class="right-sidebar" style="margin-bottom:30px;">

    <%= render 'layouts/sidebar_application' %>

  </div><!-- end right-sidebar --> 

</div>

