<div class="infographic-container">
  <section class="states">
    <div class="constrain">
      <div class="state-icons">
        <img src="//d2ju3eumzwbxuv.cloudfront.net/assets/infographic/florida_icon.png" alt="Florida" class="state-icon">
        <img src="//d2ju3eumzwbxuv.cloudfront.net/assets/infographic/texas_icon.png" alt="Texas" class="state-icon">
        <img src="//d2ju3eumzwbxuv.cloudfront.net/assets/infographic/california_icon.png" alt="California" class="state-icon">
        <img src="//d2ju3eumzwbxuv.cloudfront.net/assets/infographic/alabama_icon.png" alt="Alabama" class="state-icon">
        <img src="//d2ju3eumzwbxuv.cloudfront.net/assets/infographic/georgia_icon.png" alt="Georgia" class="state-icon">
      </div>
      <p class="line-1">TOP &nbsp;TRactor &nbsp;trailer</p>
      <p class="line-2">registrations &nbsp;by &nbsp;state</p>
    </div>
    
  </section>

  <section class="drivers">
    <div class="constrain">
      <div class="left">
        <div class="line-1">
          <img src="//d2ju3eumzwbxuv.cloudfront.net/assets/infographic/person.png" alt="Driver">
          <span class="number">761,850</span>
        </div>
        <p class="line-2">Tractor &nbsp;Trailer &nbsp;Drivers</p>
        <p class="line-3">Earning &nbsp;$37,770</p>
      </div>
      <div class="plus">
        <span>+</span>
      </div>
      <div class="right">
        <div class="line-1">
          <img src="//d2ju3eumzwbxuv.cloudfront.net/assets/infographic/person.png" alt="Driver">
          <span class="number">49,920</span>
        </div>
        <p class="line-2">light &nbsp;truck &nbsp;and<br />delivery &nbsp;drivers</p>
      </div>
    </div>
  </section>

  <section class="earnings">
    <div class="constrain">
      <p>Driver &nbsp;Earnings  =  $30,660,552,900.00</p>
    </div>
  </section>

  <section class="distance">
    <div class="constrain">
      <p class="line-1">Total &nbsp;<span class="white">Distance </span> &nbsp;Traveled &nbsp;in</p>
      <p class="line-2">Highway &nbsp;Miles</p>
      <div class="per">
        <img src="//d2ju3eumzwbxuv.cloudfront.net/assets/infographic/icon_second.png" alt="Per Second">
        <span class="number">2965 &nbsp;</span>
        <div class="label-holder clearfix">
          <span class="label">Per Second</span>
          <span class="echo">Per Second</span>
        </div>
      </div>
      <div class="per">
        <img src="//d2ju3eumzwbxuv.cloudfront.net/assets/infographic/icon_day.png" alt="Per Day" style="position:relative;right:14px;margin-right:0;">
        <span class="number">256,197,260 &nbsp;</span>
        <div class="label-holder clearfix">
          <span class="label">Per Day</span>
          <span class="echo">Per Day</span>
        </div>
      </div>
      <div class="per">
        <img src="//d2ju3eumzwbxuv.cloudfront.net/assets/infographic/icon_year.png" alt="Per Year" style="position:relative;right:5px;margin-right:15px;">
        <span class="number">93,512,000,000 &nbsp;</span>
        <div class="label-holder clearfix">
          <span class="label">Per Year</span>
          <span class="echo">Per Year</span>
        </div>
      </div>
    </div>
  </section>

  <section class="earth">
    <div class="constrain">
      <p class="line-1">3,755,351</p>
      <p class="line-2">TIMES &nbsp;AROUND &nbsp;THE &nbsp;EARTH</p>
      <img src="//d2ju3eumzwbxuv.cloudfront.net/assets/infographic/globe.png" alt="Globe" id="globe">
    </div>
  </section>

  <section class="sources">
    <div class="constrain">
      <img src="//d2ju3eumzwbxuv.cloudfront.net/assets/infographic/logo.png" alt="Brought to you by TruckDriverJobs.com" id="logo">
      <div class="text-wrapper">
        <h2>Sources</h2>
        <p>
          <a href="http://www.bls.gov/iag/tgs/iag484.htm#about" target="_blank">Bureau &nbsp;of &nbsp;Labor &nbsp;Statistics</a><br />
          <a href="http://www.census.gov/svsd/www/services/sas/sas_data/48/2007_NAICS48.pdf" target="_blank">US &nbsp;Census &nbsp;Bureau</a><br />
          <a href="http://www.trucking.org/newsroom/trucks%20are/trucking%20and%the%economy.pdf" target="_blank">Trucking.org</a>
        </p>
      </div>
    </div>
  </section>


</div>

<style>
  .page-title-banner { display: none !important; }
</style>