<div class="company-profile">
  <div class="constrain">

    
    <div class="left-content">

      <div class="photo-profile" style="background-image: url('//d2ju3eumzwbxuv.cloudfront.net/assets/hub_banner.jpg');">
        <div class="logo-container">
          <div class="logo-holder">
            <img src="//d2ju3eumzwbxuv.cloudfront.net/assets/company_logos/hub_logo.png" alt="Company Name" class="logo">
          </div>
        </div>
      </div>

      <div class="company-container">

        <div class="company-info clearfix">
          <div class="left">
            <h1 class="company-name">Hub Group Trucking</h1>
            <p class="location">Memphis, TN 38118</p>
            <p class="head">Call:</p>
            <p class="phone">888-719-7631</p>
            <p class="head">Visit:</p>
            <p class="website">
              <a href="www.driveforhubgrouptrucking.com" title="Hub Group Trucking">www.driveforhubgrouptrucking.com</a>
            </p>
            <p class="head">Jobs:</p>
            <p class="view-jobs"><a href="#" title="View Jobs">view jobs >></a></p>
          </div>

          <div class="right">
            <p class="apply"><a href="#" title="Apply">APPLY >></a></p>
            <p class="head">Hiring States:</p>
            <ul class="state-list">
              <li>AL</li>
              <li>AR</li>
              <li>CA</li>
              <li>DE</li>
              <li>FL</li>
              <li>GA</li>
              <li>IL</li>
              <li>IN</li>
              <li>IA</li>
              <li>KS</li>
              <li>KY</li>
              <li>MD</li>
              <li>MA</li>
              <li>MI</li>
              <li>MS</li>
              <li>MO</li>
              <li>NJ</li>
              <li>NY</li>
              <li>NC</li>
              <li>OH</li>
              <li>OR</li>
              <li>PA</li>
              <li>SC</li>
              <li>TN</li>
              <li>TX</li>
              <li>UT</li>
              <li>WA</li>
              <li>WI</li>
            </ul>
          </div>

        </div>  

        <div class="section company-overview">
          <h2 class="section-title">Company Overview</h2>
          <p>Hub Group Trucking offers drivers more than just truck driving jobs, we offer them careers. Our goal is to give Company Drivers more balance in their life whether it’s more home time, more miles, or a bigger paycheck.</p>
        </div>

        <div class="section job-benefits">
          <h3 class="section-title">Job Benefits</h3>
          <p class="benefit-title">Company Driver Benefits</p>
          <ul class="benefit-list">
            <li>Hometime Policy: weekends and throughout the week, depending on type of run</li>
            <li>Paid Holidays and Vacation</li>
            <li>Health, Dental, and Vision Insurance</li>
            <li>Life/Accidental Death &amp; Dismemberment Insurance Plan</li>
            <li>Long Term Disability</li>
            <li>401k Retirement Plan</li>
            <li>Flexible Spending Benefits</li>
            <li>Rider Policy</li>
            <li>Family Scholarship Award Program</li>
          </ul>
          <p class="benefit-title">Intermodal Owner Operator Benefits</p>
          <ul class="benefit-list">
            <li>Hometime Policy: weekends and throughout the week, depending on type of run</li>
            <li>Fuel and Tire Discount Programs</li>
            <li>Comdata Fuel CardTractor and Bobtail Insurance Program</li>
            <li>Health, Dental, and Life Insurance Plans available</li>
            <li>Occupational Accidental Insurance available</li>
            <li>Deductible Reimbursement Insurance</li>
            <li>Fuel Tax service</li>
            <li>Rider Policy</li>
            <li>Comdata daily advances available</li>
            <li>Third Party Lease Purchase available</li>
          </ul>
        </div>

        <div class="section job-qualifications">
          <h3 class="section-title">Job Qualifications:</h3>
          <ul class="qualification-list">
            <li>Class A Commercial Driver’s License</li>
            <li>25+ years of age – minimum 1 year van experience</li>
            <li>23 years of age – minimum 2 years van experience</li>
            <li>No more than 3 moving violations in the past 3 years</li>
            <li>No more than 3 preventable accidents in the past 3 years</li>
          </ul>
        </div>

      </div>

    </div><!-- end left-content --> 

    <div class="right-sidebar">

      <%= render 'layouts/sidebar_application', :company_title => "Hub Group Trucking" %>

    </div><!-- end right-sidebar --> 

  </div>
</div>
