<div class="constrain">
  <div class="main-page-content">
    <div class="left-content categories">
      <div class="top-info clearfix">
        <h1 class="section-title">Truck Driver Job Categories</h1>
        <div class="instructions">
          <p>Click a trucking job category that matches the type of truck driving job you are looking for. You can quickly review current truck driver jobs from leading trucking companies seeking to hire drivers like you! Select a driver job type, trailer type, or hauling distance to narrow your search. We want to help you find the driving job that is the best fit for you and your family. For a more specific job search use our search bar above or use our <a href="/advanced-search">advanced search</a>.</p>
        </div>
      </div>

      <div class="job-categories-list">
        <div class="section">
          <h2 class="title">Jobs by Driver Type</h2>
          <ul>
            <li>
              <h3><a href="/company-truck-driver-jobs" class="cat-link" title="Company Driver">Company Driver</a></h3>
              <p class="description">You want to work for a company and drive solo.</p>
            </li>
            <li>
              <h3><a href="/owner-operator-truck-driver-jobs" class="cat-link" title="Owner Operator">Owner Operator</a></h3>
              <p class="description">You want to pick your own loads and own your own truck.</p>
            </li>
            <li>
              <h3><a href="/team-truck-driver-jobs" class="cat-link" title="Team Driver">Team Driver</a></h3>
              <p class="description">You want to drive with a partner or spouse.</p>
            </li>
            <li>
              <h3><a href="/student-truck-driver-jobs" class="cat-link" title="Student Driver">Student Driver</a></h3>
              <p class="description">You are new to trucking or have just obtained your CDL.</p>
            </li>
            <li>
              <h3><a href="/lease-purchase-truck-driver-jobs" class="cat-link" title="Lease Purchase">Lease Purchase</a></h3>
              <p class="description">You want to own your own truck.</p>
            </li>
          </ul>
        </div>
        <div class="section">
          <h2 class="title">Jobs by Haul Type</h2>
          <ul>
            <li>
              <h3><a href="/dry-van-truck-driver-jobs" class="cat-link" title="Dry Van">Dry Van</a></h3>
              <p class="description">You want to pull a dry van trailer hauling dry goods.</p>
            </li>
            <li>
              <h3><a href="/flatbed-truck-driver-jobs" class="cat-link" title="Flatbed">Flatbed</a></h3>
              <p class="description">You want to pull a flatbed trailer.</p>
            </li>
            <li>
              <h3><a href="/reefer-truck-driver-jobs" class="cat-link" title="Reefer">Reefer</a></h3>
              <p class="description">You want to pull a temperature controlled refrigerated trailer.</p>
            </li>
            <li>
              <h3><a href="/tanker-truck-driver-jobs" class="cat-link" title="Tanker">Tanker</a></h3>
              <p class="description">You want to pull a tanker trailer and will need a hazmat endorsement.</p>
            </li>                        
            <li>
              <h3><a href="/intermodal-truck-driver-jobs" class="cat-link" title="Intermodal">Intermodal</a></h3>
              <p class="description">You want to pull a cargo container.</p>
            </li>
            <li>
              <h3><a href="/auto-hauler-truck-driver-jobs" class="cat-link" title="Auto Hauler">Auto Hauler</a></h3>
              <p class="description">You want to pull a car-hauling trailer.</p>
            </li>
            <li>
              <h3><a href="/specialized-truck-driver-jobs" class="cat-link" title="Specialized">Specialized</a></h3>
              <p class="description">You want to pull an oversized load.</p>
            </li>            
          </ul>
        </div>
        <div class="section">
          <h2 class="title">Jobs by Distance</h2>
          <ul>
            <li>
              <h3><a href="/local-truck-driver-jobs" class="cat-link" title="Local">Local</a></h3>
              <p class="description">You want to run locally and be home daily.</p>
            </li>
            <li>
              <h3><a href="/dedicated-truck-driver-jobs" class="cat-link" title="Dedicated">Dedicated</a></h3>
              <p class="description">You want a dedicated route with more miles and ability to get home daily.</p>
            </li>
            <li>
              <h3><a href="/regional-truck-driver-jobs" class="cat-link" title="Regional">Regional</a></h3>
              <p class="description">You want to run regionally across a specific region with more miles.</p>
            </li>
            <li>
              <h3><a href="/otr-truck-driver-jobs" class="cat-link" title="OTR (Over-the-Road)">OTR (Over-the-Road)</a></h3>
              <p class="description">You want to run over-the-road with the most miles and make the most money.</p>
            </li>
          </ul>
        </div>
      </div>


    </div><!-- left-content --> 

    <div class="right-sidebar">

      <%= render 'layouts/quick_apply_button' %>

      <%= render 'layouts/sidebar_sponsors' %>

    </div><!-- end right-sidebar --> 
  </div><!-- end main-page-content --> 
</div><!-- end constrain --> 
