<div class="company-grid">
  <div class="constrain">
    <div class="top-info clearfix">
      <h1 class="section-title">Companies Hiring Truck Drivers</h1>
      <h2 class="meta">List of truck driver jobs from Leading Trucking Companies</h2>
    </div>
    <div class="grid-container clearfix">

      <div class="company-unit">
        <div class="contain">
          <div class="logo-container">
            <div class="logo-holder">
              <img src="//d2ju3eumzwbxuv.cloudfront.net/assets/company_logos/melton_logo.png" alt="Company Name" class="logo">
            </div>
          </div>
          <div class="orange-line"></div>
          <h3 class="name">Melton Truck Line</h3>
          <p class="phone">1-800-777-9876</p>
          <a href="#" class="view-profile" title="View Profile for CompanyName">view profile >></a>
        </div>
      </div>

      <div class="company-unit">
        <div class="contain">
          <div class="logo-container">
            <div class="logo-holder">
              <img src="//d2ju3eumzwbxuv.cloudfront.net/assets/company_logos/logo2.png" alt="Company Name" class="logo">
            </div>
          </div>
          <div class="orange-line"></div>
          <h3 class="name">Schneider</h3>
          <p class="phone">1-800-777-9876</p>
          <a href="#" class="view-profile" title="View Profile for CompanyName">view profile >></a>
        </div>
      </div>

      <div class="company-unit">
        <div class="contain">
          <div class="logo-container">
            <div class="logo-holder">
              <img src="//d2ju3eumzwbxuv.cloudfront.net/assets/company_logos/logo3.png" alt="Company Name" class="logo">
            </div>
          </div>
          <div class="orange-line"></div>
          <h3 class="name">Celadon Trucking</h3>
          <p class="phone">1-800-777-9876</p>
          <a href="#" class="view-profile" title="View Profile for CompanyName">view profile >></a>
        </div>
      </div>

      <div class="company-unit">
        <div class="contain">
          <div class="logo-container">
            <div class="logo-holder">
              <img src="//d2ju3eumzwbxuv.cloudfront.net/assets/company_logos/logo4.png" alt="Company Name" class="logo">
            </div>
          </div>
          <div class="orange-line"></div>
          <h3 class="name">Ryder</h3>
          <p class="phone">1-800-777-9876</p>
          <a href="#" class="view-profile" title="View Profile for CompanyName">view profile >></a>
        </div>
      </div>

      <div class="company-unit">
        <div class="contain">
          <div class="logo-container">
            <div class="logo-holder">
              <img src="//d2ju3eumzwbxuv.cloudfront.net/assets/company_logos/logo5.png" alt="Company Name" class="logo">
            </div>
          </div>
          <div class="orange-line"></div>
          <h3 class="name">CRST Dedicated</h3>
          <p class="phone">1-800-777-9876</p>
          <a href="#" class="view-profile" title="View Profile for CompanyName">view profile >></a>
        </div>
      </div>

      <div class="company-unit">
        <div class="contain">
          <div class="logo-container">
            <div class="logo-holder">
              <img src="//d2ju3eumzwbxuv.cloudfront.net/assets/company_logos/logo6.png" alt="Company Name" class="logo">
            </div>
          </div>
          <div class="orange-line"></div>
          <h3 class="name">Knight Transportation</h3>
          <p class="phone">1-800-777-9876</p>
          <a href="#" class="view-profile" title="View Profile for CompanyName">view profile >></a>
        </div>
      </div>

      <div class="company-unit">
        <div class="contain">
          <div class="logo-container">
            <div class="logo-holder">
              <img src="//d2ju3eumzwbxuv.cloudfront.net/assets/company_logos/hub_logo.png" alt="Company Name" class="logo">
            </div>
          </div>
          <div class="orange-line"></div>
          <h3 class="name">Hub Group Trucking</h3>
          <p class="phone">1-800-777-9876</p>
          <a href="#" class="view-profile" title="View Profile for CompanyName">view profile >></a>
        </div>
      </div>

      <div class="company-unit">
        <div class="contain">
          <div class="logo-container">
            <div class="logo-holder">
              <img src="//d2ju3eumzwbxuv.cloudfront.net/assets/company_logos/logo7.png" alt="Company Name" class="logo">
            </div>
          </div>
          <div class="orange-line"></div>
          <h3 class="name">Roadrunner Transportation</h3>
          <p class="phone">1-800-777-9876</p>
          <a href="#" class="view-profile" title="View Profile for CompanyName">view profile >></a>
        </div>
      </div>

      <div class="company-unit">
        <div class="contain">
          <div class="logo-container">
            <div class="logo-holder">
              <img src="//d2ju3eumzwbxuv.cloudfront.net/assets/company_logos/logo8.png" alt="Company Name" class="logo">
            </div>
          </div>
          <div class="orange-line"></div>
          <h3 class="name">Transport America</h3>
          <p class="phone">1-800-777-9876</p>
          <a href="#" class="view-profile" title="View Profile for CompanyName">view profile >></a>
        </div>
      </div>

      <div class="company-unit">
        <div class="contain">
          <div class="logo-container">
            <div class="logo-holder">
              <img src="//d2ju3eumzwbxuv.cloudfront.net/assets/company_logos/logo9.png" alt="Company Name" class="logo">
            </div>
          </div>
          <div class="orange-line"></div>
          <h3 class="name">Lone Star</h3>
          <p class="phone">1-800-777-9876</p>
          <a href="#" class="view-profile" title="View Profile for CompanyName">view profile >></a>
        </div>
      </div>

      <div class="company-unit">
        <div class="contain">
          <div class="logo-container">
            <div class="logo-holder">
              <img src="//d2ju3eumzwbxuv.cloudfront.net/assets/company_logos/logo10.png" alt="Company Name" class="logo">
            </div>
          </div>
          <div class="orange-line"></div>
          <h3 class="name">SRT</h3>
          <p class="phone">1-800-777-9876</p>
          <a href="#" class="view-profile" title="View Profile for CompanyName">view profile >></a>
        </div>
      </div>

      <div class="company-unit">
        <div class="contain">
          <div class="logo-container">
            <div class="logo-holder">
              <img src="//d2ju3eumzwbxuv.cloudfront.net/assets/company_logos/logo11.png" alt="Company Name" class="logo">
            </div>
          </div>
          <div class="orange-line"></div>
          <h3 class="name">Interstate Distributor</h3>
          <p class="phone">1-800-777-9876</p>
          <a href="#" class="view-profile" title="View Profile for CompanyName">view profile >></a>
        </div>
      </div>

    </div><!-- end grid-container --> 
  </div><!-- end constrain --> 
</div><!-- end company grid --> 