<h1>Truck Driver Jobs (TDJ) Policies</h1>

<h2>Privacy Policy</h2>
<p>TDJ operates a private service for companies who request job applicants with specific criteria. Any company information shared with TDJ not specifically intended to be shared with possible job applicants will not be shared with any third party.</p>

<h2>Opt-in/out Policy</h2>
<p>TDJ operates a private service for companies who request job applicants with specific criteria. TDJ only sends email to customers who specifically requested email communication.</p>
<p>Existing TDJ customers may <a href='mailto:jason@truckdriverjobs.com'>contact us</a> at any time to stop their service.</p>
