<div class="constrain">
	<div class="left-content">
		<div class="top-info">
			<h1 class="title">Melton Truck Lines Truck Driver Job Application</h1>
			<div class="profile-section">
				<div class="logo-container">
					<div class="logo-holder">
						<img src="//d2ju3eumzwbxuv.cloudfront.net/assets/company_logos/melton_logo.png" alt="Company Name" class="logo">
					</div>
				</div>
				<div class="buttons">
					<p>Call:</p>
					<a>
						<p>1-800-777-9876</p>
					</a>
					<p>Visit:</p>
					<a>
						<p>www.meltontruck.com</p>
					</a>
					<p><h5>Or Apply Now &#187;</h5></p>
				</div>
			</div>    
		</div>
		<div class="section job-description">
      <h3 class="section-title">Job Description:</h3>
      <div class="share-btns"></div>
      <p class="job-details"></p>
      <div class="content">
      	<h2>Job Benefits:</h2>
      	<ul>
      		<li>Cost Driver Benefits: <span style="color: 31690d">$30 to $ 76 p/month</span></li>
          <li>Cost Family Benefits: <span style="color: 31690d">$125 to $337 p/month</span></li>
          <li>Dental: YES</li>
          <li>Vision: YES</li>
          <li>Retirement: YES</li>
          <li>Bonuses, Other Pay, Miscellaneous</li>
      	</ul>
				<h2>Job Qualifications:</h2>
				<ul>
					<li>Class A License</li>
					<li>0-6 months experience</li>
					<li>At least 21 years of age</li>
					<li>No more than 4 moving violations in the last 3 years</li>
					<li>No more than 3 preventable accidents in the last 3 years</li>
					<li>DUI/DWI must be at least 5 years old</li>
				</ul>
      </div>
    </div>
	</div>
	<div class="right-sidebar">
		<%= render 'layouts/sidebar_application' %>
	</div>
</div>
