<p>
<input type="button" class="btn" value="< Back to Manage Job Postings" onclick="window.location='/my-company/jobs';" />
</p>

    </div><!-- end grid-container --> 
  </div><!-- end constrain --> 
</div><!-- end company grid -->
