<%= render :partial => 'companies/admin_header' %>

<div id="message"></div>

<%= render :partial => 'companies/admin_footer' %>

<% content_for :caboose_js do %>
<script type="text/javascript">

function delete_company(company_id, confirm) 
{
  if (!confirm)
  {
    var p = $('<p/>').addClass('note warning')
      .append("Are you sure you want to delete the company? ")
      .append($('<input/>').attr('type','button').val('Yes').click(function() { delete_company(company_id, true); })).append(' ')
      .append($('<input/>').attr('type','button').val('No').click(function() { cancel_delete_company(company_id); }));      
    $('#message').empty().append(p);
    return;
  }  
  $('#message').empty().html($('<p/>').addClass('loading').html("Deleting company..."));
  $.ajax({
    url: '/admin/companies/' + company_id,
    type: 'delete',    
    success: function(resp) {
      if (resp.error) $('#message').html("<p class='note error'>" + resp.error + "</p>");
      if (resp.redirect) window.location = resp.redirect;
    }
  });
}

function cancel_delete_company(company_id)
{
  $('#message').empty().append(
    $('<p/>').append(
      $('<input/>').attr('type', 'button').val('Delete Company').click(function(e) { delete_company(company_id); })
    )
  );
}

$(document).ready(function() {
  cancel_delete_company(<%= @company.id %>);  
});

</script>
<% end %>
