<div class="constrain">
  <div class="left-content blog">

    <div class="blog-header">
      <h1 class="blog-title">Company Not Found</h1>
    </div>

    <div class="blog-wrapper">
      <div class="blog-body" style="border-top:0;margin-top:0;">
        <p>Sorry, the company you are looking for could not be found.</p>
      </div>
    </div>


  </div>
  <div class="right-sidebar blog">

      <%= render 'layouts/quick_apply_button' %>

      <%= render 'layouts/sidebar_job_categories' %>

      <%= render 'layouts/sidebar_sponsors' %>

  </div>
</div>


