<div class="company-specific">
  <div class="constrain">    
    <div class="left-content">
      <div class="current-jobs">
        <h1 class="top">Thank You!</h1>
        <p>Your application has been submitted.</p>
      </div>      
    </div><!-- end left-content --> 
    <div class="right-sidebar">            
    </div><!-- end right-sidebar --> 
  </div>
</div>
