<p>
<input type="button" class="btn" value="< Back to Company Dashboard" onclick="window.location='/my-company';" />
</p>

    </div><!-- end grid-container --> 
  </div><!-- end constrain --> 
</div><!-- end company grid -->
