<div class="company-grid">
  <div class="constrain">
    <div class="top-info clearfix">
      <h1 class="section-title">My Company</h1>      
    </div>
    <div class="grid-container clearfix">
      
      <p>
        <input type="button" class="btn" value="Manage Job Listings"    onclick="window.location='/my-company/jobs';" />
        <input type="button" class="btn" value="Manage Company Profile" onclick="window.location='/my-company/profile';" />
        <input type="button" class="btn" value="Logout" onclick="window.location='/my-company/logout';" />
      </p>

    </div><!-- end grid-container --> 
  </div><!-- end constrain --> 
</div><!-- end company grid --> 
