
<div class="company-post clearfix">
  <div class="logo-container">
    <div class="logo-holder">
      <img src="//d2ju3eumzwbxuv.cloudfront.net/assets/company_logos/melton_logo.png" alt="CompanyName" class="logo">
    </div>
  </div>
  <div class="company-content">
    <h3 class="company-name">Melton Truck Lines</h3>
    <div class="description">
      <p>We are committed to ensuring our drivers are rewarded for their hard work through exceptional base pay, tarp pay, benefits, as well as bonuses.</p>
    </div>
    <div class="links">
      <span class="phone">1-800-777-9876</span>
      <a href="#" class="view" title="View Profile for CompanyName">view profile>></a>
      <a href="#" class="apply" title="Apply">apply>></a>
    </div>
  </div>
</div>
