<div class="job-categories">
  <div class="section">
    <h5 class="title">Jobs by Driver Type</h5>
    <ul>
      <li><a href="/company-truck-driver-jobs"        title="Company Drivers" >Company Driver</a></li>
      <li><a href="/owner-operator-truck-driver-jobs" title="Owner Operators" >Owner Operator</a></li>
      <li><a href="/team-truck-driver-jobs"           title="Team Drivers"    >Team Driver</a></li>
      <li><a href="/student-truck-driver-jobs"        title="Student Drivers" >Student Driver</a></li>
      <li><a href="/lease-purchase-truck-driver-jobs" title="Lease Purchase"  >Lease Purchase</a></li>
    </ul>
  </div>
  <div class="section">
    <h5 class="title">Jobs by Haul Type</h5>
    <ul>
      <li><a href="/dry-van-truck-driver-jobs"     title="Dry Van">Dry Van</a></li>
      <li><a href="/flatbed-truck-driver-jobs"     title="Flatbed">Flatbed</a></li>
      <li><a href="/reefer-truck-driver-jobs"      title="Reefer">Reefer</a></li>
      <li><a href="/tanker-truck-driver-jobs"      title="Tanker">Tanker</a></li>      
      <li><a href="/intermodal-truck-driver-jobs"  title="Intermodal">Intermodal</a></li>
      <li><a href="/auto-hauler-truck-driver-jobs" title="Auto Hauler">Auto Hauler</a></li>
      <li><a href="/specialized-truck-driver-jobs" title="Specialized">Specialized</a></li>
    </ul>
  </div>
  <div class="section">
    <h5 class="title">Jobs by Distance</h5>
    <ul>
      <li><a href="/local-truck-driver-jobs"     title="Local">Local</a></li>
      <li><a href="/dedicated-truck-driver-jobs" title="Dedicated">Dedicated</a></li>
      <li><a href="/regional-truck-driver-jobs"  title="Regional">Regional</a></li>
      <li><a href="/otr-truck-driver-jobs"       title="OTR (Over-the-Road)">OTR (Over-the-Road)</a></li>
    </ul>
  </div>
</div>
